name: "Biome"
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  biome:
    name: Biome
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Setup Biome
        uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13
      - name: Run Biome
        run: biome ci
