name: "Biome"
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  biome:
    name: Biome
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Setup Biome
        uses: biomejs/setup-biome@454fa0d884737805f48d7dc236c1761a0ac3cc13
      - name: Run Biome
        run: biome ci
